{% extends 'index.html' %}
{% block title %} Departments | eLMS {% endblock title %}
{% block profile %}
{% if faculty  %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block departments %}
{% url 'departments' %}
{% endblock %}
{% block content %}

<!-- Breadcrumb Navigation -->
<div class="container mx-auto p-4 dark:text-gray-300">
    <nav class="text-gray-700 dark:text-gray-300 text-sm">
        <ol class="flex space-x-2">
            <li class="text-gray-500 dark:text-gray-400">All Departments</li>
        </ol>
    </nav>
</div>

<!-- Departments Table -->
<div class="container mx-auto p-4 bg-white dark:bg-gray-900 shadow-md rounded-lg">
    {% if deps %}
    <span class="text-gray-500 dark:text-gray-400 italic">Showing all departments</span>
    <div class="overflow-x-auto mt-4">
        <table class="w-full border-collapse border border-gray-300 dark:border-gray-700 text-center">
            <thead class="bg-gray-100 dark:bg-gray-800 text-black dark:text-gray-300">
                <tr>
                    <th class="border border-gray-300 dark:border-gray-700 p-2">Name</th>
                    <th class="border border-gray-300 dark:border-gray-700 p-2">Dept. ID</th>
                    <th class="border border-gray-300 dark:border-gray-700 p-2">No. of Students</th>
                    <th class="border border-gray-300 dark:border-gray-700 p-2">Total Faculty</th>
                    <th class="border border-gray-300 dark:border-gray-700 p-2">Total Courses</th>
                </tr>
            </thead>
            <tbody>
                {% for dep in deps %}
                <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
                    <td class="border border-gray-300 dark:border-gray-700 p-2 text-gray-700 dark:text-gray-300">{{ dep.name }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 p-2 text-gray-700 dark:text-gray-300">{{ dep.department_id }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 p-2 text-gray-700 dark:text-gray-300">{{ dep.student_count }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 p-2 text-gray-700 dark:text-gray-300">{{ dep.faculty_count }}</td>
                    <td class="border border-gray-300 dark:border-gray-700 p-2 text-gray-700 dark:text-gray-300">{{ dep.course_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="text-center text-xl text-gray-500 dark:text-gray-400">No Departments to show</div>
    {% endif %}
</div>

{% endblock %}