{% extends 'index.html' %}
{% block title %}Dashboard | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' student.student_id %}
{% endblock %}
{% block user %}
{{student.name}}
{% endblock user %}
{% block allCourses %}
{% url 'courses' %}
{% endblock%}
{% block courses %}
{% url 'myCourses' %}
{% endblock %}
{% block content %}
<div class="mt-6 px-6">
   <!-- Navigation Links -->
   <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
      <nav class="text-gray-500 dark:text-gray-300" aria-label="breadcrumb">
         <ol class="flex space-x-2 text-sm">
            <li class="text-gray-700 dark:text-white font-semibold">My Courses</li>
         </ol>
      </nav>
   </div>
   
   {% if courses %}
   <!-- Course Container -->
   <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6 mt-6">
      {% for courses in courses %}
      <!-- Individual Course -->
      <div class="bg-white dark:bg-gray-800 shadow rounded-lg overflow-hidden">
         <div class="bg-blue-600 text-white p-4 font-bold">
            Dept. of {{courses.department}}
         </div>
         <div class="p-4">
            <h5 class="text-lg font-semibold text-gray-900 dark:text-white">{{courses.department}}-{{courses.code}} : {{courses.name}}</h5>
            <a href="{% url 'course' courses.code %}" class="mt-4 inline-block bg-gray-900 text-white dark:bg-gray-700 dark:text-gray-200 px-5 py-2 rounded-lg">Enter</a>
         </div>
         <div class="bg-gray-100 dark:bg-gray-700 p-4 text-gray-700 dark:text-white font-semibold">
            {% if courses.faculty %}
            Course Teacher: {{ courses.faculty.name }}
            {% else %}
            Teacher not assigned yet
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
   {% else %}
   <div class="text-center text-gray-500 dark:text-gray-300 text-lg mt-6">
      <p>You are not enrolled in any courses</p>
   </div>
   {% endif %}
</div>
{% endblock %}